@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?382ssl');
  src:  url('fonts/icomoon.eot?382ssl#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?382ssl') format('truetype'),
    url('fonts/icomoon.woff?382ssl') format('woff'),
    url('fonts/icomoon.svg?382ssl#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dice:before {
  content: "\e915";
}
.icon-chat:before {
  content: "\e970";
}
.icon-users:before {
  content: "\e972";
}
.icon-enlarge:before {
  content: "\e989";
}
.icon-shrink:before {
  content: "\e98a";
}
.icon-locked:before {
  content: "\e98f";
}
.icon-unlocked:before {
  content: "\e990";
}
.icon-cog:before {
  content: "\e994";
}
.icon-plus:before {
  content: "\ea0a";
}
.icon-cross:before {
  content: "\ea0f";
}
.icon-exit:before {
  content: "\ea14";
}

header {
  width: 100%;
  padding: 10px 20px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  background-color: #EF6461;
}

h1 {
  margin: 0;
}

ul.menu {
  display: flex;
  margin: 0;
  font-size: 19px;
}

.menu li {
  margin-left: 20px;
  cursor: pointer;
}

ul.menu i {
  margin-right: 10px;
}

ul.menu a {
    color: #fff;
    text-decoration: none;
}
span.shown {
    color: #313638;
}
body {
  margin: 0;
  color: #fff;
  font-family: monospace;
}
.clickable{
  cursor: pointer;
  width: 80%;
  padding: 10px 0;
  color: #fff;
  text-decoration: none;
}
main > div {
  display: flex;
}

.player-list {
  background: #E0DFD5;
  color: #313638;
  height: 100%;
}

ul {
  list-style: none;
  padding: 0 10px;
}

span.username {
  width: 80%;
  display: inline-block;
  padding: 5px;
}
.player-list li {
  border-bottom: 1px solid #E8E9EB;
  color: #313638;
  margin-bottom: 5px;
}

.player-list h3 {
  background-color: #E4B363;
  color: #fff;
  margin: 0;
  padding: 10px 20px;
}

span.icon-dice, span.icon-chat {
  color: #EF6461;
  cursor: pointer;
  margin-left: 10px;
}
i.icon-users {
    margin-right: 10px;
}

.sidebar {
  height: calc(100vh - 50px);
  width: 20%;
}

.app {
  flex-wrap: wrap;
  display: flex;
}

main {
  width: 80%;
  background-color: #313638;
  position: relative;
}

.room-list {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: #313638;
  flex-direction: column;
}

.game {
  position: relative;
  min-width: 80%;
  background-color: #313638;
}

#canvas{
  background-color: #313638;
  display: block;
  margin: 0 auto;
}

#messages{
  bottom: 0;
  width: 100%;
  max-height: 100px;
  position: absolute;
  /* visibility: hidden; */
  /* opacity: 0; */
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}

#messages.show{
  visibility: visible;
  opacity: 1 ;
}

.hide{
  display: none !important;
}

#overlay{
  top: 0;
  left: 0;
  position: absolute;
  background-color: #fff;
  opacity: 0.1;
  width: 100%;
  height: 100%;
}

.text {
  padding: 10px;
}

.answers {
  position: absolute;
  bottom: 25%;
  margin-left: 30%;
}

.answers button {
  background: #313638;
  color: #fff;
  border: 1px solid #fff;
  margin-right: 20px;
  height: 50px;
  font-size: 150%;
  padding: 0 10px;
}

#login, #join-room{
  width: 100%;
  height: calc(100% - 76px);
  box-sizing: border-box;
}

form {
  height: 100px;
  position: relative;
  text-align: center;
  top: calc(50% - 150px);
  width: 100%;
}

form input {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #fff;
  outline: none;
  padding-bottom: 15px;
  text-align: center;
  width: 400px;
}

form .submit{
  background: #313638;
  color: #fff;
  border: 1px solid #fff;
  display: block;
  margin: 50px auto;
  width: 150px;
  height: 50px;
  font-size: 150%;
  font-family: monospace;
  cursor: pointer;
  padding: 10px 0;
  box-sizing: border-box;
  text-decoration: none;
}

form .submit:hover {
    background-color: #EF6461;
}

.title {
  font-size: 200%;
}

form input {
  font-size: 200%;
  letter-spacing: 3px;
}

.title, form input {
  color: #fff;
  font-weight: 100;
}

.tabs-container {
  width: 30px;
  background: #E0DFD5;
  color: #E4B363;
  word-wrap: break-word;
  font-size: 14px;
  line-height: 12px;
  height: 100%;
}

.chat {
  display: flex;
}

.tab {
  padding: 10px;
  background-color: #E4B363;
  color: #fff;
  border-radius: 10px 0 0 10px;
}

.tab:not(.active){
  cursor: pointer;
}

.tab.active {
  background-color: #fff;
  color: #313638;
  z-index: 13;
  position: relative;
}

.tab.alert {
  background-color: #EF6461;
  color: #fff;
  font-weight: bold;
}

.message {
  padding: 10px;
  margin: 5px 10px;
  font-size: 14px;
}

.tab-content {
  width: calc(100% - 30px);
  -webkit-box-shadow: 0px 50px 30px -2px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 50px 30px -2px rgba(0,0,0,0.75);
  box-shadow: 0px 50px 30px -2px rgba(0,0,0,0.75);
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.message .text {
  font-size: 14px;
  color: #313638;
}

span.time {
  color: #E4B363;
  font-size: 10px;
  display: inline-block;
  margin: 5px 10px;
}

span.sender {
  display: block;
}

.message-body {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  background-color: #F7F8F9;
  border-radius: 10px;
}

.no-messages {
  text-align: center;
  margin: 10px;
  color: #F7F8F9;
}
.message-board {
  max-height: 90%;
  overflow: auto;
}

.message-input {
  min-height: 40px;
}

.message-input button {
  width: 40px;
  height: 40px;
  font-size: 12px;
  color: #fff;
  background-color: #EF6461;
  border-left: 1px solid #E0DFD5;
  border: 1px solid #EF6461;
  margin: 0;
}

.message-input form {
  display: flex;
  height: 40px;
  margin: 0;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}

.message-input input {
  width: calc(100% - 40px);
  height: 40px;
  color: #313638;
  background: #F7F8F9;
  font-size: 12px;
  text-align: left;
  padding: 10px;
}

.room-list h3 {
  margin: 0;
  padding: 11px;
  background-color: #E0DFD5;
  color: #313638;
  font-size: 16px;
}

.room-list ul {
  padding: 0;
  margin: 0;
}

.room-list li {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  border-bottom: 1px solid #666;
  margin: 0 20px;
}

.actions {
  padding: 10px 0;
}

.actions i {
  margin-left: 10px;
}

div#game-message {
  justify-content: center;
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  align-items: center;
}

div#game-message > * {
  background-color: #313638;
  padding: 20px;
}
div#game-message form{
  top: 0;
}
.admin-message .sender {
  display: inline;
}

.admin-message {
  color: #313638;
  padding: 10px 20px;
}

span.empty-list {
    padding: 10px;
    display: block;
}